
footer {
    margin: 0 auto;
    height: 100vh;
    width: 50%;
    text-align: center;
    background: green;
}

header {
    height: 100vh;
    width: 50%;
    background: cornflowerblue;
    margin: 0 auto;

}